@import "tailwindcss";
@config "~/tailwind.config.ts";
@plugin "@tailwindcss/typography";

@theme {
  --color-v-50: #faf8f6;
  --color-v-100: #f7f5f3;
  --color-v-200: #f1eee9;
  --color-v-300: #ebe7e5;
  --color-v-400: #e6e1e0;
  --color-v-500: #efebe9;
  --color-v-600: #bcaaa4;
  --color-v-700: #8c7b7a;
  --color-v-800: #6e5f5d;
  --color-v-900: #4e342e;
  --color-v-950: #3b2320;

  --font-serif: "Noto Serif", "serif";
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

html {
  @apply bg-v-50 font-serif scroll-smooth text-v-900;
  font-size: 20px;
}

img {
  @apply rounded-sm;
}

article h1:has(a),
article h2:has(a),
article h3:has(a),
article h4:has(a),
article h5:has(a),
article h6:has(a) {
  position: relative;
}

article.prose h1 a,
article.prose h2 a,
article.prose h3 a,
article.prose h4 a,
article.prose h5 a,
article.prose h6 a {
  font-weight: inherit;
}

article h1:has(a)::before,
article h2:has(a)::before,
article h3:has(a)::before,
article h4:has(a)::before,
article h5:has(a)::before,
article h6:has(a)::before {
  @apply absolute opacity-0 cursor-pointer text-v-700 transition-opacity duration-100;
  content: "#";
  left: -1em;
}

article h1:has(a:hover)::before,
article h2:has(a:hover)::before,
article h3:has(a:hover)::before,
article h4:has(a:hover)::before,
article h5:has(a:hover)::before,
article h6:has(a:hover)::before {
  @apply opacity-100;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(blockquote p:last-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: none;
}

.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.25em;
  line-height: 1.5;
}

.prose
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply font-normal;
}
