@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-v-50 font-serif scroll-smooth text-v-900;
  font-size: 20px;
}

img {
  @apply rounded;
}

article h1:has(a),
article h2:has(a),
article h3:has(a),
article h4:has(a),
article h5:has(a),
article h6:has(a) {
  position: relative;
}

article.prose h1 a,
article.prose h2 a,
article.prose h3 a,
article.prose h4 a,
article.prose h5 a,
article.prose h6 a {
  font-weight: inherit;
}

article h1:has(a)::before,
article h2:has(a)::before,
article h3:has(a)::before,
article h4:has(a)::before,
article h5:has(a)::before,
article h6:has(a)::before {
  @apply absolute opacity-0 cursor-pointer text-v-700 transition-opacity duration-100;
  content: "#";
  left: -1em;
}

article h1:has(a:hover)::before,
article h2:has(a:hover)::before,
article h3:has(a:hover)::before,
article h4:has(a:hover)::before,
article h5:has(a:hover)::before,
article h6:has(a:hover)::before {
  @apply opacity-100;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(blockquote p:last-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: none;
}

.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.25em;
  line-height: 1.5;
}

.prose
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply font-normal;
}
