@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-v-50 font-serif scroll-smooth text-v-900;
  font-size: 20px;
}

img {
  @apply rounded;
}

article h1:has(a),
article h2:has(a),
article h3:has(a),
article h4:has(a),
article h5:has(a),
article h6:has(a) {
  position: relative;
}

article h1:has(a)::before,
article h2:has(a)::before,
article h3:has(a)::before,
article h4:has(a)::before,
article h5:has(a)::before,
article h6:has(a)::before {
  @apply absolute opacity-0 cursor-pointer text-v-700 transition-opacity duration-100;
  content: "#";
  left: -1em;
}

article h1:has(a:hover)::before,
article h2:has(a:hover)::before,
article h3:has(a:hover)::before,
article h4:has(a:hover)::before,
article h5:has(a:hover)::before,
article h6:has(a:hover)::before {
  @apply opacity-100;
}
