name: Update updated_at date

on:
  push:
    paths:
      - "**/*.md"

jobs:
  update-date:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Check for changes in .md files
        run: |
          # Use github.event.after and github.event.before for diff comparison
          git diff --name-only ${{ github.event.before }} ${{ github.event.after }} | grep '\.md$' || echo "No markdown files changed"

      - name: List commits before and after
        run: |
          git log --oneline -n 5

      - name: Update updated_at in .md files
        run: |
          for file in $(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep '\.md$'); do
            echo "Updating updated_at in $file"
            sed -i "s/updated_at: [0-9]\{4\}-[0-9]\{2\}-[0-9]\{2\}/updated_at: $(date +%Y-%m-%d)/" $file
          done

      - name: Commit changes if any
        run: |
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git config user.name "github-actions"
            git config user.email "github-actions@users.noreply.github.com"
            git add .
            git commit -m "Update updated_at field in modified files (workflow: update-updated_at.yml)"
            git push
          fi
